:root{
	--primary: #c72e2e;
	--max-width: 90%;
}

/* font  */
html{
	font-size: 16px;
	font-family: "Lato","Calibri", "Arial", sans-serif;
}

/* page size */
#wrap{
	max-width: none;
	padding: 0;
	background-color: #f0f0f0;
}

#content{
	max-width: var(--max-width);
	margin: 2rem auto;
}

/* header */
header{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 1rem;
	align-items: center;
	background-color: white;
}

header .site-title{
	margin: 1rem 0;
}

header nav{
	position: relative;
	z-index: 2000;
	flex-basis: 100%;
}

header nav .navigation{
	margin: .5rem 0;
	justify-content: center;
	border: 0;
}

header nav .navigation a{
	font-size: 1.25rem;
}

header .fas{
	font-size: 1.5rem;
	color: var(--primary);
}

/* barre de recherche */
header #search{
	display: flex;
	align-items: center;
	margin-left: auto;
}

header #search button{
	padding: 0;
	background-color: transparent;
	color: var(--primary);
}

/* menu */
.sub-nav.first{
	z-index: 2000;
	max-width: none;
}

/* qrcode */
#share{
	position: relative;
	margin-left: .5rem;
}

#share i{
	color: var(--primary);
	cursor: pointer;
}

#share > div{
	position: absolute;
	top: 2.5rem;
	right: 0;
	z-index: 2001;
	display: none;
	flex-direction: column;
	padding: 1rem;
	align-items: center;
	background-color: white;
	border: 1px solid var(--primary);
}

#share > div.show{
	display: flex;
}

#share h4{
	margin-top: 0;
}

#share span{
	margin-top: 1rem;
	color: var(--primary);
	cursor: pointer
}

#share span i{
	margin-left: .5rem;
}

/* carousel */
.carousel{
    position: relative;
    display: flex;
	height: max-content;
    justify-content: flex-start;
    overflow-x: hidden;
}

.carousel-inner{
    height: 100%;
    display: flex;
    transition: all ease 1.5s;
}

.carousel-item{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .carousel-indicators, .carousel-controls{
	display: none;
} */

.carousel-controls .prev{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../../asset/img/icons/prev.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}

.carousel-controls .next{
    display: inline-block;
    height: 32px;
    width: 32px;
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background-image: url('../../asset/img/icons/next.svg');
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    cursor: pointer;
    opacity: .5;
}

.prev:hover, .next:hover{
    opacity: 1;
}

.carousel-indicators{
    position: absolute;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.carousel-indicators span{
    display: inline-block;
    background-color: white;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    opacity: .5;
    cursor: pointer;
    margin: 3px;
}

.carousel-indicators span.active{
    opacity: 1;
}

.carousel img{
	max-width: 100%;
}

/* bannière */
.banner{
	z-index: 1;
    width: 100%;
	height: 300px;
	align-items: center;
}

.banner .banner-text{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	width: max-content;
	max-width: 100%;
	margin: 0 auto;
	padding: 1rem 2rem;
	/* background-color: rgba(0, 0, 0, .6); */
	text-align: center;
}

.banner .banner-text > *{
	margin: 0;
	font-size: 2.5rem;
	line-height: normal;
	color: white;
}

/* content */
#content img{
	max-width: 100%;
}

/* retour haut de page */
#btn-top{
	position: fixed;
	bottom: 0;
	right: 0;
	display: none;
	margin: 1rem;
	font-size: 2rem;
	color: var(--primary);
	cursor: pointer;
}