:root{
	--primary: #c72e2e;
	--max-width: 90%;
}

/* font  */
html{
	font-size: 16px;
	font-family: "Lato","Calibri", "Arial", sans-serif;
}

/* page size */
#wrap{
	max-width: none;
	padding: 0;
	background-color: #f0f0f0;
}

#content{
	max-width: var(--max-width);
	margin: 2rem auto;
}

/* header */
header{
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	padding: 0 1rem;
	align-items: center;
	background-color: white;
}

header .site-title{
	margin: 1rem 0;
}

header nav{
	position: relative;
	z-index: 2000;
	flex-basis: 100%;
}

header nav .navigation{
	margin: .5rem 0;
	justify-content: center;
	border: 0;
}

header nav .navigation a{
	font-size: 1.25rem;
}

header .fas{
	font-size: 1.5rem;
	color: var(--primary);
}

/* barre de recherche */
header #search{
	display: flex;
	align-items: center;
	margin-left: auto;
}

header #search button{
	padding: 0;
	background-color: transparent;
	color: var(--primary);
}

/* menu */
.sub-nav.first{
	z-index: 2000;
	max-width: none;
}

/* qrcode */
#share{
	position: relative;
	margin-left: .5rem;
}

#share i{
	color: var(--primary);
	cursor: pointer;
}

#share > div{
	position: absolute;
	top: 2.5rem;
	right: 0;
	z-index: 2001;
	display: none;
	flex-direction: column;
	padding: 1rem;
	align-items: center;
	background-color: white;
	border: 1px solid var(--primary);
}

#share > div.show{
	display: flex;
}

#share h4{
	margin-top: 0;
}

#share span{
	margin-top: 1rem;
	color: var(--primary);
	cursor: pointer
}

#share span i{
	margin-left: .5rem;
}

/* bannière */
.banner h2{
	position: absolute;
	width: 100%;
	padding: 1rem 0;
	background-color: rgba(0, 0, 0, .6);
	text-align: center;
	color: white;
}

/* retour haut de page */
#btn-top{
	position: fixed;
	bottom: 0;
	right: 0;
	display: none;
	margin: 1rem;
	font-size: 2rem;
	color: var(--primary);
	cursor: pointer;
}